action_webservice.json
[{"id":"a9f12e10.6c3c2","type":"http in","z":"ee9a8d7a.b6ef2","name":"Alert input ","url":"/alert","method":"post","swaggerDoc":"","x":110,"y":237.8571071624756,"wires":[["5e092c04.82fbc4","9e995d5d.4ed438"]]},{"id":"5e092c04.82fbc4","type":"http response","z":"ee9a8d7a.b6ef2","name":"OK 200","x":279.9642868041992,"y":76.54760551452637,"wires":[]},{"id":"9e995d5d.4ed438","type":"function","z":"ee9a8d7a.b6ef2","name":"PRE","func":"var ID = msg.payload.deviceId.split(\":\");\n\nvar deviceId_ = ID[2];\nvar deviceType_ = ID[1];\nvar org_ = ID[0];\n\nmsg.deviceId = deviceId_;\nmsg.deviceType = deviceType_;\nmsg.url = \"https://\"+org_+\".internetofthings.ibmcloud.com/api/v0002/device/types/\"+deviceType_+\"/devices/\"+deviceId_+\"/exts/twc/ops/geocode\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":289.67856216430664,"y":237.76181983947754,"wires":[["4a7cab3a.10a574","45bb1618.c15c48"]]},{"id":"45bb1618.c15c48","type":"http request","z":"ee9a8d7a.b6ef2","name":"get weather info","method":"GET","ret":"obj","url":"","tls":"","x":485.7500228881836,"y":237.35716819763184,"wires":[["79ee6a0f.0e990c"]]},{"id":"79ee6a0f.0e990c","type":"function","z":"ee9a8d7a.b6ef2","name":"POST","func":"var precipitation24h = 0;\n\nif (msg.statusCode == 200){\n \n var precipitation24h_imperial = msg.payload.result.observation.imperial.precip_24hour;\n precipitation24h = precipitation24h_imperial * 25.4;\n}\n\nprecipitation24h = Number(precipitation24h).toFixed(1);\n\n//var payload = { \"text\":\"Las condiciones de temperatura y humedad recomiendan un riego inmediato. El pronóstico de precipitaciones para las próximas 24 horas es de \"+precipitation24h+\" l/m2, desea efectuar el riego?\", \"deviceId\" : msg.deviceId, \"deviceType\" : msg.deviceType};\nvar payload = \"Las condiciones de temperatura y humedad recomiendan un riego inmediato. El pronóstico de precipitaciones para las próximas 24 horas es de \"+precipitation24h+\" l/m2, desea efectuar el riego?Elige una acción.\"\nmsg = {};\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":691.3928871154785,"y":237.52378153800964,"wires":[["d877e17e.321788","7bba469.e714a38"]]},{"id":"4a7cab3a.10a574","type":"ibmiot out","z":"ee9a8d7a.b6ef2","authentication":"boundService","apiKey":"7c898fdf.449598","outputType":"cmd","deviceId":"SenseHat01","deviceType":"SenseHatType","eventCommandType":"alert","format":"json","data":"{}","qos":0,"name":"Send Alert to device","service":"registered","x":552.3303680419922,"y":76,"wires":[]},{"id":"d877e17e.321788","type":"debug","z":"ee9a8d7a.b6ef2","name":"","active":true,"console":"false","complete":"true","x":815.8154296875,"y":139.3214111328125,"wires":[]},{"id":"20f7c17a.626fae","type":"comment","z":"ee9a8d7a.b6ef2","name":"Webservice endpoint","info":"","x":119.43451690673828,"y":289.04751777648926,"wires":[]},{"id":"e67af5e7.80138","type":"comment","z":"ee9a8d7a.b6ef2","name":"Retrieve TWC data","info":"Call Watson IoT Platform REST API for geolocated device weather information from TWC","x":502.1725845336914,"y":286.7857074737549,"wires":[]},{"id":"7bba469.e714a38","type":"ui_toast","z":"ee9a8d7a.b6ef2","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Ok","cancel":"","topic":"","name":"","x":877.9499816894531,"y":237.39999389648438,"wires":[[]]},{"id":"4debd953.dff998","type":"ui_button","z":"ee9a8d7a.b6ef2","name":"","group":"24b12321.dbcba4","order":0,"width":0,"height":0,"label":"Regar","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":860.949951171875,"y":285.8000183105469,"wires":[["883fa673.02c228"]]},{"id":"f783c1d7.ba861","type":"ui_button","z":"ee9a8d7a.b6ef2","name":"","group":"24b12321.dbcba4","order":0,"width":0,"height":0,"label":"No Regar","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":868.949951171875,"y":323.8000183105469,"wires":[["deb379c6.9a19b8"]]},{"id":"883fa673.02c228","type":"ibmiot out","z":"ee9a8d7a.b6ef2","authentication":"boundService","apiKey":"7c898fdf.449598","outputType":"cmd","deviceId":"SenseHat01","deviceType":"SenseHatType","eventCommandType":"action","format":"json","data":"{\"wattering\":true}","qos":0,"name":"IBM IoT","service":"registered","x":1079.949951171875,"y":272.1000061035156,"wires":[]},{"id":"deb379c6.9a19b8","type":"ibmiot out","z":"ee9a8d7a.b6ef2","authentication":"boundService","apiKey":"7c898fdf.449598","outputType":"cmd","deviceId":"SenseHat01","deviceType":"SenseHatType","eventCommandType":"action","format":"json","data":"{\"wattering\":false}","qos":0,"name":"IBM IoT","service":"registered","x":1077.9499816894531,"y":327.1000061035156,"wires":[]},{"id":"7c898fdf.449598","type":"ibmiot","z":"","name":"App OUT","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"24b12321.dbcba4","type":"ui_group","z":"","name":"Actions on my garden:","tab":"74edcfb6.502168","disp":true,"width":"6"},{"id":"74edcfb6.502168","type":"ui_tab","z":"","name":"Garden","icon":"dashboard"}]
