action_webservice.json
[{"id":"5cb5a339.92e264","type":"http in","z":"9043a7df.a40d3","name":"Alert input ","url":"/alert","method":"post","swaggerDoc":"","x":85.56548309326172,"y":243.63093948364258,"wires":[["1111cd68.c4818b","7431c770.e94af"]]},{"id":"1111cd68.c4818b","type":"http response","z":"9043a7df.a40d3","name":"OK 200","x":255.52976989746094,"y":82.32143783569336,"wires":[]},{"id":"7431c770.e94af","type":"function","z":"9043a7df.a40d3","name":"PRE","func":"var ID = msg.payload.deviceId.split(\":\");\n\nvar deviceId_ = ID[2];\nvar deviceType_ = ID[1];\nvar org_ = ID[0];\n\nmsg.deviceId = deviceId_;\nmsg.deviceType = deviceType_;\nmsg.url = \"https://\"+org_+\".internetofthings.ibmcloud.com/api/v0002/device/types/\"+deviceType_+\"/devices/\"+deviceId_+\"/exts/twc/ops/geocode\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":265.24404525756836,"y":243.53565216064453,"wires":[["20d505ba.3ef752","5ada7b83.eedcd4"]]},{"id":"5ada7b83.eedcd4","type":"http request","z":"9043a7df.a40d3","name":"get weather info","method":"GET","ret":"obj","url":"","tls":"","x":461.3155059814453,"y":243.13100051879883,"wires":[["5c7e64a.b0dcb1c"]]},{"id":"5c7e64a.b0dcb1c","type":"function","z":"9043a7df.a40d3","name":"POST","func":"var precipitation24h = 0;\n\nif (msg.statusCode == 200){\n    \n        var precipitation24h_imperial = msg.payload.result.observation.imperial.precip_24hour;\n        precipitation24h = precipitation24h_imperial * 25.4;\n}\n\nprecipitation24h = Number(precipitation24h).toFixed(1);\n\nvar payload = { \"text\":\"Las condiciones de temperatura y humedad recomiendan un riego inmediato. El pronóstico de precipitaciones para las próximas 24 horas es de \"+precipitation24h+\" l/m2, desea efectuar el riego?\", \"deviceId\" : msg.deviceId, \"deviceType\" : msg.deviceType};\n\nmsg = {};\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":666.9583702087402,"y":243.29761385917664,"wires":[["e0ca921e.924538"]]},{"id":"20d505ba.3ef752","type":"ibmiot out","z":"9043a7df.a40d3","authentication":"boundService","apiKey":"47f33039.eebd68","outputType":"cmd","deviceId":"id","deviceType":"type","eventCommandType":"alert","format":"json","data":"data","qos":0,"name":"Send Alert to device","service":"registered","x":527.8958511352539,"y":81.77383232116699,"wires":[]},{"id":"e0ca921e.924538","type":"debug","z":"9043a7df.a40d3","name":"","active":true,"console":"false","complete":"true","x":867.3809280395508,"y":243.09524154663086,"wires":[]},{"id":"778957d6.980428","type":"comment","z":"9043a7df.a40d3","name":"Webservice endpoint","info":"","x":95,"y":294.82135009765625,"wires":[]},{"id":"3ab9d5b8.9dd422","type":"comment","z":"9043a7df.a40d3","name":"Retrieve TWC data","info":"Call Watson IoT Platform REST API for geolocated device weather information from TWC","x":477.7380676269531,"y":292.5595397949219,"wires":[]},{"id":"47f33039.eebd68","type":"ibmiot","z":"","name":"App OUT","keepalive":"60","cleansession":true,"appId":"","shared":false}]