RaspiNodeRedFlow.json
[{"id":"9e595e7e.75ab08","type":"rpi-sensehatsim in","z":"a67cb04f.7d979","name":"","motion":false,"env":true,"stick":false,"x":157.05560302734375,"y":75.38887786865234,"wires":[["5e65e387.6ff4ec"]]},{"id":"e2c15295.9fa46","type":"debug","z":"a67cb04f.7d979","name":"","active":true,"console":"false","complete":"false","x":671.388916015625,"y":163.38887786865234,"wires":[]},{"id":"85b4a85e.66945","type":"wiotp out","z":"a67cb04f.7d979","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"a1922ebc.57c2d8","deviceType":"SenseHatType","deviceId":"SenseHat01","event":"event","format":"json","name":"Send data to WIoT Platform","x":698.7221069335938,"y":80.0555648803711,"wires":[]},{"id":"5e65e387.6ff4ec","type":"delay","z":"a67cb04f.7d979","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":384.388916015625,"y":77.38887786865234,"wires":[["85b4a85e.66945","e2c15295.9fa46"]]},{"id":"a895df9f.3e70e","type":"comment","z":"a67cb04f.7d979","name":"Notificacion inicia Riego","info":"","x":187.388916015625,"y":358.38887786865234,"wires":[]},{"id":"16bc01b2.97506e","type":"comment","z":"a67cb04f.7d979","name":"Recibir alerta de regla en cloud","info":"","x":217.388916015625,"y":185.38887786865234,"wires":[]},{"id":"5d9db839.e22588","type":"wiotp in","z":"a67cb04f.7d979","authType":"g","deviceKey":"a1922ebc.57c2d8","deviceType":"SenseHatType","deviceId":"SenseHat01","command":"alert","commandType":"d","name":"","x":134.388916015625,"y":242.38887786865234,"wires":[["2be368c3.83b1c"]]},{"id":"2be368c3.83b1c","type":"function","z":"a67cb04f.7d979","name":"Alerta Temp too high","func":"if (msg.payload.ruleName == \"Temp Too high\") {\n msg.payload = \"*,*,red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":415.388916015625,"y":265.38887786865234,"wires":[["ef10673c.195b78"]]},{"id":"ef10673c.195b78","type":"rpi-sensehatsim out","z":"a67cb04f.7d979","name":"","x":696.388916015625,"y":257.38887786865234,"wires":[]},{"id":"36bb90ff.2a5bd","type":"wiotp in","z":"a67cb04f.7d979","authType":"g","deviceKey":"a1922ebc.57c2d8","deviceType":"SenseHatType","deviceId":"SenseHat01","command":"action","commandType":"d","name":"","x":138.388916015625,"y":412.38887786865234,"wires":[["e8e36378.f5dda8"]]},{"id":"e8e36378.f5dda8","type":"function","z":"a67cb04f.7d979","name":"Activate watering plant system","func":"if (msg.payload === true) {\n msg.payload = \"*,*,blue\";\n}\nelse {msg.payload = \"*,*,off\"}\nreturn msg;","outputs":1,"noerr":0,"x":402.388916015625,"y":411.38887786865234,"wires":[["33827d7b.70c6a2"]]},{"id":"33827d7b.70c6a2","type":"rpi-sensehatsim out","z":"a67cb04f.7d979","name":"","x":665.388916015625,"y":412.38887786865234,"wires":[]},{"id":"2fe2906.76e23f","type":"inject","z":"a67cb04f.7d979","name":"","topic":"","payload":"{\"temperature\":35,\"humidity\":39,\"pressure\": 100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150.36112467447913,"y":137.30555216471353,"wires":[["5e65e387.6ff4ec"]]},{"id":"a1922ebc.57c2d8","type":"wiotp-credentials","z":"","name":"","org":"uyqxe8","devType":"gwtype","devId":"gw01"}]
