RaspiNodeRedFlow.json
[{"id":"8e9f0291.50da68","type":"rpi-sensehatsim in","z":"a67cb04f.7d979","name":"","motion":false,"env":true,"stick":false,"x":88,"y":61,"wires":[["b686db56.d75a6"]]},{"id":"218408b7.4c4e28","type":"debug","z":"a67cb04f.7d979","name":"","active":true,"console":"false","complete":"false","x":604,"y":149,"wires":[]},{"id":"4df345a1.44d4bc","type":"wiotp out","z":"a67cb04f.7d979","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8612c0a7.cadcc","deviceType":"SenseHatType","deviceId":"SenseHat01","event":"event","format":"json","name":"Send data to WIoT Platform","x":643,"y":64,"wires":[]},{"id":"b686db56.d75a6","type":"delay","z":"a67cb04f.7d979","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":317,"y":63,"wires":[["4df345a1.44d4bc","218408b7.4c4e28"]]},{"id":"cd5835ac.bb772","type":"comment","z":"a67cb04f.7d979","name":"Notificacion inicia Riego","info":"","x":120,"y":344,"wires":[]},{"id":"35d368ed.d0b0b","type":"comment","z":"a67cb04f.7d979","name":"Recibir alerta de regla en cloud","info":"","x":150,"y":171,"wires":[]},{"id":"b9200120.c8aec","type":"wiotp in","z":"a67cb04f.7d979","authType":"g","deviceKey":"8612c0a7.cadcc","deviceType":"SenseHatType","deviceId":"SenseHatType01","command":"alert","commandType":"d","name":"","x":67,"y":228,"wires":[["425fbd44.d98a9c"]]},{"id":"425fbd44.d98a9c","type":"function","z":"a67cb04f.7d979","name":"Alerta Temp too high","func":"if (msg.payload.ruleName == \"Temp Too high\") {\n    msg.payload = \"*,*,red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":251,"wires":[["132cbdda.92a51a"]]},{"id":"132cbdda.92a51a","type":"rpi-sensehatsim out","z":"a67cb04f.7d979","name":"","x":629,"y":243,"wires":[]},{"id":"18ecc619.648132","type":"wiotp in","z":"a67cb04f.7d979","authType":"g","deviceKey":"8612c0a7.cadcc","deviceType":"SenseHatType","deviceId":"SenseHatType01","command":"action","commandType":"d","name":"","x":71,"y":398,"wires":[["7b6eda0.1e32928"]]},{"id":"7b6eda0.1e32928","type":"function","z":"a67cb04f.7d979","name":"Activate watering plant system","func":"if (msg.payload.wattering === true) {\n    msg.payload = \"*,*,blue\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":397,"wires":[["e274f623.9fdf68"]]},{"id":"e274f623.9fdf68","type":"rpi-sensehatsim out","z":"a67cb04f.7d979","name":"","x":598,"y":398,"wires":[]},{"id":"8612c0a7.cadcc","type":"wiotp-credentials","z":"","name":"","org":"s90t6l","devType":"gwtype","devId":"gw01"}]
