RaspiNodeRedFlowEdge.json
[{"id":"46b801a8.5fa78","type":"rpi-sensehatsim in","z":"a67cb04f.7d979","name":"","motion":false,"env":true,"stick":false,"x":110.90478515625,"y":95.53173065185547,"wires":[["11afc4c8.6c853b"]]},{"id":"11afc4c8.6c853b","type":"delay","z":"a67cb04f.7d979","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":317.23809814453125,"y":95.53173065185547,"wires":[["e05d11f2.76069"]]},{"id":"e05d11f2.76069","type":"mqtt out","z":"a67cb04f.7d979","name":"","topic":"device/SenseHatType/SenseHat01/event/json","qos":"","retain":"","broker":"a6dc16c9.242048","x":636.8491821289062,"y":94.71428680419922,"wires":[]},{"id":"93933560.1bb1","type":"function","z":"a67cb04f.7d979","name":"NRules=>senseHatLineColor","func":"var nrules = msg.payload.RuleNumber;\nif (nrules>0) {\n    msg.payload = \"7-0,4,purple\";\n    //hay alguna regla activada\n} else {\n    msg.payload = \"7-0,4,silver\";\n    //no hay ninguna regla activada\n}\nreturn msg;","outputs":1,"noerr":0,"x":526.7064208984375,"y":213.23812866210938,"wires":[["6b58eeb2.fc4648"]]},{"id":"b0211960.86e18","type":"json","z":"a67cb04f.7d979","name":"","x":293.53497314453125,"y":213.6953125,"wires":[["93933560.1bb1"]]},{"id":"ca5032a5.c103e","type":"mqtt in","z":"a67cb04f.7d979","name":"Edge Statistics","topic":"edge/statistics","qos":"0","broker":"a6dc16c9.242048","x":117.13494873046875,"y":216.49532318115234,"wires":[["b0211960.86e18","c0088892.484508"]]},{"id":"6b58eeb2.fc4648","type":"rpi-sensehatsim out","z":"a67cb04f.7d979","name":"","x":777.8731079101562,"y":213.16665649414062,"wires":[]},{"id":"80759108.844448","type":"comment","z":"a67cb04f.7d979","name":"Linea Morada si hay alguna regla en el Edge activada","info":"En Morado hay alguna regla activada\nEn Gris si no hay regla activada","x":232.6112060546875,"y":166.28561401367188,"wires":[]},{"id":"c0088892.484508","type":"debug","z":"a67cb04f.7d979","name":"","active":true,"console":"false","complete":"false","x":306.2166748046875,"y":260.9333190917969,"wires":[]},{"id":"a6dc16c9.242048","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]